p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.bg-black-02 {
  background-image: url("../images/back02.png");
}

.bg-back-04 {
  background-image: url("../images/back04.png");
}

.bg-back-06 {
  background-image: url("../images/back06.png");
  width: 64px;
  height: 64px;
}

.bg-black {
  background: black;
}

.bg-white {
  background: white;
}

.logosp {
  top: -64px;
}

.p-4px {
  padding: 4px;
}

#contents1 p {
  margin-bottom: 0;
}

#logosp {
  height: 64px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  top: 0;
  position: absolute;
  visibility: visible;
  background: black;
  padding: 0 16px;
}

#logosp.logosp-home {
  top: 0px;
}

.w-22 {
  width: 22%;
}

#index-box-4 a:hover {
  text-decoration: none;
}

#service-list {
  display: block;
}

@media only screen and (min-width: 1024px) {
  #index-box-4>div {
    flex: 0 0 22%;
  }
  #index-box-date>div {
    flex: 0 0 24%;
  }
  #index-box-date .text13 {
    text-align: left;
  }
  #logosp {
    visibility: hidden;
  }
  #service-list {
    display: flex;
  }
  #service-list .item {
    flex: 0 0 48%;
  }
}

@media only screen and (max-width: 1023px) {
  .main-content {
    padding-top: 60px;
  }
  .m-mt8 {
    margin-top: 8px;
  }
}

.box2 {
  padding-right: 10%;
  padding-left: 10%;
}

.bg-box2 {
  background-image: url("../images/back05.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-box1 {
  background-image: url("../images/back01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

article {
  margin: 0;
  padding: 0;
}

html,
body {
  margin-top: 0 !important;
}

.mt-100vh {
  margin-top: 100vh;
}

.inline-block {
  display: inline-block;
}

.contact-input-radio {
  width: 12px;
  vertical-align: middle;
  margin-right: 4px;
}

.contact-input-radio+label {
  font-size: 14px;
}