.block1 { display: block; }
.block2 { width: 100%; display: block; }
.text01 { color: #fff; font-size: 17px; line-height: 28px; padding-bottom: 2vh; }
.text02 { color: #fff; font-size: 13px; line-height: 28px; }
.text03 { color: #fff; font-size: 20px; font-family: Oswald; font-weight: 300; line-height: 26px; }
.text04 { color: #fff; font-size: 15px; font-weight: 600; line-height: 24px; padding-bottom: 2vh; }
.text05 { color: #fff; font-size: 14px; line-height: 22px; padding-top: 2vh; border-top: 1px dotted #e1e1e1; }
.text06 { color: #8f000c; font-size: 20px; font-family: Oswald; font-weight: 300; line-height: 26px; }
.text07 { color: #fff; font-size: 20px; font-family: Oswald; font-weight: 300; line-height: 30px; }
.text08 { color: #fff; font-size: 15px; line-height: 26px; padding-bottom: 2vh; }
.text09 { color: #2f2c2c; font-size: 15px; line-height: 26px; padding-bottom: 2vh; }
.text10 { color: #fff; font-size: 13px; line-height: 22px; padding: 2vh 2vw; }
.text10:hover { opacity: 0.6; }
.text11 { color: #8f000c; font-size: 15px; font-family: Oswald; font-weight: 400; line-height: 30px; }
.text12 { color: #2f2c2c; font-size: 14px; font-weight: 600; line-height: 24px; padding-bottom: 2vh; }
.text13 { color: #2f2c2c; font-size: 13px; line-height: 22px; padding-top: 2vh; border-top: 1px dotted #2f2c2c; }
.text14 { display: none;}
.text15 { color: #fff; font-size: 13px; line-height: 24px; padding-top: 2vh; padding-bottom: 2vh; border-top: 1px dotted #e1e1e1; border-bottom: 1px dotted #e1e1e1; }
.text16 { color: #2f2c2c; font-size: 13px; line-height: 20px; padding-right: 4vw; }
.text17 { color: #fff; font-size: 14px; line-height: 26px; padding-bottom: 12vh; }
.text18 { color: #fff; font-size: 13px; line-height: 24px; padding-right: 1.6vw; padding-bottom: 1.6vh; border-right: 2px solid #e1e1e1; border-bottom: 1px dotted #e1e1e1; }
.text19 { color: #fff; font-size: 13px; line-height: 24px; padding-bottom: 1.6vh; padding-left: 4vw; border-bottom: 1px dotted #e1e1e1; border-right-color: #fff; }
.text20 { color: #fff; font-size: 14px; line-height: 26px; padding-top: 2vh; border-top: 1px dotted #e1e1e1; padding-bottom: 4vh; }
.text21 { color: #fff; font-size: 14px; font-weight: 600; line-height: 26px; padding-bottom: 2vh; }
.text22 { width: 100%; color: #2f2c2c; font-size: 14px; line-height: 26px; margin-top: 5vh; padding-top: 2vh; padding-bottom: 3vh; border-top: 1px dotted #2f2c2c; border-bottom: 1px dotted #2f2c2c; display: block; }
.text23 { color: #2f2c2c; font-size: 13px; line-height: 24px; padding-bottom: 6vh; }
.line01 { border: solid 1px #2f2c2c; }
.line02 { margin-top: 3vh; margin-bottom: 3vh; border-top: 1px dotted #787878; }
.line03 { margin-top: 3vh; border-top: 1px dotted #787878; }
.w96p { width: 96%; }
.w50p { width: 96%; }
.table01 { position: absolute; top: 0; left: 0; right: 0; bottom: 0;; }
.table02 { height: auto; }
.table03 { margin-bottom: 3vh; }
.table04 { margin-bottom: 5vh; }
.table05 { margin-top: 2vh; }
.camera img{ border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.box1 { background-image: url("../images/back01.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; }
.box2 { background-image: url("../images/back05.jpg"); background-repeat: no-repeat; background-position: center; padding: 14% 10%; background-size: cover; }
.box3 { background-image: url("../images/back05.jpg"); background-repeat: no-repeat; background-position: center; padding: 10% 10%; background-size: cover; }
.box4 { background-image: url("../images/back05.jpg"); background-repeat: no-repeat; background-position: center; padding: 10% 20%; background-size: cover; }
.box5 { width: 100%; height: 150px; margin-bottom: 6vh; background-image: url("../images/ph01.jpg"); background-repeat: no-repeat; background-position: center; border: solid 1px #e1e1e1; background-size: cover; display: block; }
.box6 { width: 100%; height: 150px; margin-bottom: 6vh; background-image: url("../images/ph02.jpg"); background-repeat: no-repeat; background-position: center; border: solid 1px #e1e1e1; background-size: cover; display: block; }
.box7 { background-image: url("../images/back05.jpg"); background-repeat: no-repeat; background-position: center; padding: 14% 10%; background-size: cover; }
.padding01 { padding: 14% 10%; }
.padding02 { width: 100%; display: block; padding-bottom: 6vh; }
.padding03 { padding: 14% 10%; }
.padding04 { width: 100%; display: block; padding-bottom: 6vh; }
.padding05 { padding:  14% 10%; }
.padding06 { padding: 14% 10%; }
.padding07 { padding: 14% 10%; }
.padding08 { width: 100%; display: block; }
.img01 { width: 10px; padding-top: 2vh; padding-bottom: 5vh; }
.img02 { text-decoration: none; border-color: transparent; border-width: 0; transition: 0.4s ;　}
.img02:hover { border-color: transparent; border-width: 0; opacity: 0.4; }
.img03 { text-decoration: none; border-width: 0; border-color: transparent; transition: 0.4s; }
.img03:hover { border-width: 0; border-color: transparent; opacity: 0.7; }
.img04 { height: 24px; padding-bottom: 1vh; }
.img05 { width: 10px; padding-top: 2vh; padding-bottom: 6vh; }
.img06 { width: 85%; text-decoration: none; border-width: 0; border-color: transparent; transition: 0.4s; }
.img06:hover { border-width: 0; border-color: transparent; opacity: 0.4; }
.img07 { width: 230px; }
.img08 { width: 200px; padding-top: 2vh; padding-bottom: 5vh; }
.button01 { color: #fff; font-size: 14px; font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", Georgia, serif; font-weight: 600; background-color: transparent; text-decoration: none; width: auto; height: auto; margin-top: 5vh; padding: 14px 26px; border: solid 1px; cursor: pointer; transition: 0.4s; }
.button01:hover { color: #fff; background-color: #8f000c; border: solid 1px #8f000c; }
.button02 { color: #8f000c; font-size: 14px; font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", Georgia, serif; font-weight: 600; text-decoration: none; background-color: transparent; cursor: pointer; padding: 14px 26px; width: auto; height: auto; border: solid 1px; transition: 0.4s; }
.button02:hover { color: #fff; background-color: #8f000c; border: solid 1px #8f000c; }
.button03 { color: #fff; font-size: 14px; font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", Georgia, serif; font-weight: 600; text-decoration: none; background-color: transparent; cursor: pointer; margin-top: 3vh; padding: 14px 26px; width: auto; height: auto; border: solid 1px; transition: 0.4s; }
.button03:hover { color: #8f000c; background-color: #fff; border: solid 1px #fff; }
.button04 { color: #2f2c2c; font-size: 13px; font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", Georgia, serif; font-weight: 600; line-height: 13px; text-decoration: none; background-color: transparent; cursor: pointer; margin-top: 4vh; padding: 8px; width: auto; height: auto; margin-right: 0.4vw; margin-left: 0.4vw; border: solid 1px; transition: 0.4s; }
.button04:hover { color: #fff; background-color: #2f2c2c; border: solid 1px #2f2c2c; }
.button05 { color: #2f2c2c; font-size: 13px; font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", Georgia, serif; font-weight: 600; line-height: 13px; text-decoration: none; background-color: transparent; cursor: pointer; margin-top: 4vh; padding: 8px; width: auto; height: auto; border: solid 1px; transition: 0.4s; }
.button05:hover { color: #fff; background-color: #2f2c2c; border: solid 1px #2f2c2c; }
.button06 { color: #fff; font-size: 14px; font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", Georgia, serif; font-weight: 600; text-decoration: none; background-color: #8f000c; cursor: pointer; margin-top: 5vh; width: 100%; height: auto; padding-top: 18px; padding-bottom: 18px; border-style: none; transition: 0.4s; }
.button06:hover { opacity: 0.7; }
.fadeInDown1 { -webkit-animation-fill-mode:both; -ms-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-duration:1s; -ms-animation-duration:1s; animation-duration:1s; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; visibility: visible !important; }
@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-50px); } 100% { opacity: 1; -webkit-transform: translateY(0); }}
@keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-50px); -ms-transform: translateY(-50px); transform: translateY(-50px); } 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }}
.fadeInDown2 { -webkit-animation-fill-mode:both; -ms-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-duration:1s; -ms-animation-duration:1s; animation-duration:1s; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; visibility: visible !important; }
@-webkit-keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px); } 100% { opacity: 1; -webkit-transform: translateY(0); }}
@keyframes fadeInDown { 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); } 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }}
a { color:inherit; text-decoration:none; }
a:hover { opacity: 1; text-decoration:none; }
img { max-width : 100% ; height : auto ; }
img { -ms-interpolation-mode: bicubic; }
body { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", Georgia, serif; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; overflow-x: hidden; }